[user]
	email = gjs19225@uga.edu
	name = Gabriel St Jean
[alias]
    adog = log --all --decorate --oneline --graph
[color]
    ui = true
[core]
	edit = emacs -nw
	editor = emacs -nw
	pager = less -+X
[pager]
	branch = false
